{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Welcome to the Ticketing System</h1>
    <p>
        This is a ticketing system where clients can submit tickets for their issues or requests,
        and staff members can manage and resolve these tickets.
    </p>
    <p>
        {% if not user.is_authenticated %}
            <a href="{% url 'client_register' %}">Register as a Client</a> or
            <a href="{% url 'staff_register' %}">Register as Staff</a>
            <br>
            If you already have an account, <a href="{% url 'login' %}">Login here</a>.
        {% endif %}
    </p>
{% endblock %}